body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}


header {
    background-color: #35473e;
    color: white;
    padding: 15px;
    border-radius: 1%;
}
#icons{
    max-width: 100%;
    background-color: #ddd;
    border-radius: 50%;
}

.icon{
    max-width: 40px;
    border-radius: 13%;

}
#linkedin-button{
    background-color: #35473e;

}
#gmail-button{
    background-color: #35473e;
}#github-button{
    background-color: #35473e;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background: #ddbfa7;
    color: rgb(5, 4, 4);
    padding: 50px;
    height: 400px; 
   max-width: 60%;
    margin: auto;
    border-radius: 2%;
}
#hero-content{
  margin: auto;
}
.hero-image {
    height: 100%;      
    width: auto;       
    object-fit: contain; 
    border-radius: 10%;
    
}

.hero-image-container {
    height: 100%;                  
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 768px) {
    .icon{
        max-width: 45px;
        border-radius: 13%;
    
    }
    #linkedin-button ,#github-button, #gmail-button {
        margin-top: 13px;
        border-radius: 30%;
    }
    
    #icons{
    background-color:#ddd;
    border-radius: 20%;
    height: 100px;
    }
  
    #hero {
        flex-direction: column; 
        text-align: center;
        height: auto; 
        padding: 20px;
    }
    
    #hero-content {
      margin: auto;
       
    }
    
    .hero-image-container {
        order: 2; 
        width: 100%;
        margin-top: 20px;
    }

    .hero-image {
        width: 80%; 
        max-height: 300px;
    }
   
    
    
}


.btn {
    background: white;
    color: #007bff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}
#content-about{
    max-width: 70%;
    margin: auto;
}
p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#content-education{
    max-width: 70%;
    margin: auto;
}
#certificates{
    max-width: 70%;
    margin: auto;
}
  
    

.skill {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    width: 250px;
}
section {
    padding: 40px 20px;
}

.project {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    width: 200px;
}
#erasmus{
    font-weight: 500;
    margin: auto;
}
#era{
    text-align: left;
    margin-top: 50px;
}
#content-other-things{
   margin: auto;
  
max-width: 70%;
    
}
#contact{
    max-width: 70%;
    margin: auto;
}


button {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
